 <head id="header">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/users.css">
    
</head> 


<body>
    
</body>


   




<script>


function openForm() {
  document.getElementById("myForm").style.display = "flex";
  document.getElementById("openAddressForm").style.display = "none";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("openAddressForm").style.display = "inline";
}

async function getUser() {
        
        let status
        let status2 
        const token = localStorage.getItem('x-auth-token')
        console.log(token)


        

        const result = await fetch('/users/getaddresses', {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                'x-auth-token':  token
            }
        }).then(function (res){
            status = res.status
       
             return res.json()
            }).catch(error => console.error('Error:', error))

            if (status === 200) {
           

            document.querySelector("h2").innerHTML = `Welcome ${result.address}` 
     
           
            } else if (status === 404 ) {
                
                
               document.querySelector('body').innerHTML = `<%- include('./addressForm') %>`
               document.querySelector('#error').innerHTML = result.error
               document.head.innerHTML = ``


                                const form = document.getElementById('postAddress')
                                form.addEventListener('submit', addressFetcher)

                                async function addressFetcher(event) {
                                    event.preventDefault()
                                
                                const street = document.getElementById('Street').value
                                console.log(street)
                                const number = document.getElementById('number').value
                                const zipcode = document.getElementById('zip').value
                               

        

                               const result2 = await fetch('/users/addresses', {
                               method: 'POST',
                               headers: {
                               'Content-Type': 'application/json',
                               'x-auth-token':  token
                                },
                                  body: JSON.stringify({  
                                    street,
                                    number,
                                    zipcode
                                
                                 })
                                }).then(function (res){
                                    status2 = res.status
                               return res.json()
                               }).catch(error => console.error('Error:', error))
                            }

                            addressFetcher()



                          
                            
                


        
    }  else {

        document.querySelector('html').innerHTML = `<h2>${result.error}</h2>`
        
    }} 

    getUser()

</script>


