<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/users.css">
</head>

<h2 id="name"></h2><h2 id="birthday"></h2><h2></h2>

<a href="/users/addresses/">
    <button> Address</button>
 </a>
 

 <a href="http://www.google.com/">
    <button> Technologies</button>
 </a>



<script>

async function getUser() {
        
        let status 
        const token = localStorage.getItem('x-auth-token')
        console.log(token)


        

        const result = await fetch('/authUserTest', {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                'x-auth-token':  token
            }
        }).then(function (res){
            status = res.status
       
             return res.json()
            }).catch(error => console.error('Error:', error))

            if (status === 200) {
           

            document.querySelector("#name").innerHTML = `Welcome ${result.name}` 
            document.querySelector("#birthday").innerHTML = `You were born on ${result.birthday}`
            

           
           
            };
            if (status === 400) {

           document.querySelector('html').innerHTML = `<h2>${result.error}</h2>`
        
    }}

    getUser()

</script>


