<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/users.css">
</head>

<form action="/test" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label for="birthday">Birthday:</label>
        <input type="date" name="birthday" />
    </div>
    <div class="button">
        <button type="submit">Sign Up</button>
    </div>
</form>
